org: iiits
app: cc-aws
service: model-api

plugins:
  # Essential plugin for loading DB credentials from .env
  - serverless-dotenv-plugin

# Packaging configuration to keep the deployment artifact small
package:
  individually: true 
  exclude:
    - node_modules/onnxruntime-node/** # Exclude this large library

custom:
  dotenv:
    path: .env
    include:
      - DB_HOST
      - DB_USER
      - DB_PASSWORD
      - DB_DATABASE
      - VPC_SECURITY_GROUP
      - VPC_SUBNET_1
      - VPC_SUBNET_2

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1 
  environment:
    DB_HOST: "test.c380g88kinos.ap-south-1.rds.amazonaws.com"
    DB_USER: "admin"
    DB_PASSWORD: "12345678"
    DB_DATABASE: "ccrds"
    DYNAMO_TABLE_NAME: "MLModels" 
    S3_BUCKET_NAME: "aws-cc-models" 
    
  vpc:
    securityGroupIds:
      # Lambda's Security Group
      - "sg-07ff9a6789e971da1"
    subnetIds:
      # Lambda's Subnets (Corrected IDs)
      - "subnet-0694648b801ff65ee"
      - "subnet-0cb9e3e217cf857a6" 
  apiGateway:
    shouldStartNameWithService: true
  iam:
    role:
      statements:
        # IAM Permissions for VPC, RDS, and CloudWatch Logs
        - Effect: Allow
          Action:
            - ec2:CreateNetworkInterface
            - ec2:DescribeNetworkInterfaces
            - ec2:DeleteNetworkInterface
            - ec2:DetachNetworkInterface
            - rds-db:connect
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            - apigateway:*
          Resource: "*"
        # DynamoDB Permissions for Metadata Access
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:Query
            - dynamodb:Scan # Scan added for testing purposes
          Resource: 
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:provider.environment.DYNAMO_TABLE_NAME}"
        # S3 Permissions for future model loading
        - Effect: Allow
          Action:
            - s3:GetObject
          Resource: 
            - "arn:aws:s3:::${self:provider.environment.S3_BUCKET_NAME}/*"

functions:
  predictModel:
    handler: handler.predictModel 
    events:
      - httpApi:
          path: /models/{modelId}/predict 
          method: POST

  predictModelVersion:
    handler: handler.predictModelVersion
    events:
      - httpApi:
          path: /models/{modelId}/{version}/predict
          method: POST

  corsHandler:
    handler: handler.corsHandler
    events:
      - httpApi:
          path: /models/{modelId}/predict
          method: OPTIONS
      - httpApi:
          path: /models/{modelId}/{version}/predict
          method: OPTIONS
      - httpApi: 
          path: /test/dynamo
          method: OPTIONS
      - httpApi:
          path: /models/list
          method: OPTIONS
      - httpApi:
          path: /models/my-models
          method: OPTIONS

  testDynamo:
    handler: handler.testDynamo
    events:
      - httpApi:
          path: /test/dynamo
          method: GET

  listModels:
    handler: handler.listModels 
    events:
      - httpApi:
          path: /models/list 
          method: GET

  listMyModels:
    handler: handler.listMyModels
    events:
      - httpApi:
          path: /models/my-models
          method: GET